@font-face {
    font-family: "Avenir";
    src: 
         url("../fonts/Avenir-Black.woff") format("woff");
  }
/* generral styles*/

/* custom cursor added to body*/
  body{
      background-color: black;
      color:white;
      cursor: url(../images/bspoke-cursor.png), auto;
      cursor: url(../images/bspoke-cursor.png) 15 15, move;
      font-family: Avenir, Helvetica, sans-serif;
  }

.row{
    margin:0!important;
}
  h1{
      font-family: Avenir, Helvetica, sans-serif;
  }

  .blue-text{
      color:#005E76
  }
  /* hamburger nav button*/
  .hamburger{
      color:white;
      font-size:2.5em;
      padding:5px;
      cursor: url(../images/bspoke-cursor.png), auto;
      cursor: url(../images/bspoke-cursor.png) 15 15, move;
   
  }

  /*.........nav menu*.........*/
/* positions hamburger at top left of page*/
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    
}
/* logo top right of all*/
  .top-logo{
      float:right;
      padding:5px;
      width:250px;
      position:fixed;
      right:10px;

  }

  .offcanvas{
background-color: #005E76!important;
font-family: Avenir, Helvetica, sans-serif!important;
width:600px!important;

  }

  .nav-options{
    list-style-type: none;
  
  }

  .nav-options li{
      text-transform: uppercase;
  
      font-size:2.4em;
  }

  .nav-options li a{
    color:white;
  }

  .blue{
      color:#54A6BB!important;
  }

  .btn-close{
      color:white'
  }

  /* intial logo div fades out after zoom animation*/
  .intro{
    
     background-color: black;
     /* -webkit-animation: fadeout 3s ease-in alternate forwards ;
     -moz-animation: fadeout 3s ease-in alternate forwards ;
     animation: fadeout 3s ease-in alternate forwards; 
     position: relative; */
    
     top: -100px;
     left: 0;
     height: 110vh;
 }
/* transition of main content to give intial logo load time*/
 .main{
 
    -webkit-animation: fadein 6s ease-in alternate forwards ;
    -moz-animation: fadeoin 6s ease-in alternate forwards ;
    animation: fadein 6s ease-in alternate forwards; 
   

 }

  /* logo that zooms up on index load*/
 .intial-logo{
    display: block;
   margin: auto;
 
   width: 100%;


    
 }

 /*......footer.........*/
 .footer{
    color: cornsilk;
position: absolute;
bottom:30px;
z-index:1;

}
/* main content block*/
.test{
  height:400px;
  background-color: black;
  height:100vh;
  top:0;
  margin-top: -100px;
  
  display: none;
  }
.contact h5{
    font-size: 24px;
}
  .contact {
    text-align: right;
    margin-right: 10px;
}

.contact-text{
    font-size: 13px;
    font-family: Avenir, Helvetica, sans-serif!important;
}

.contact-text span{
    color:#005E76;
    font-weight: bold;
}

.copyright{
    font-size: 10px;
}

.social{
   text-align: right;
}
/* circle for social icons*/
.circle{
    height:35px;
    width:35px;
    border-radius: 50%;
    border:2px solid white;
    text-align: center;
    padding-top:5px;
    float:right;
    margin-left: 5px;

}

.privacy{
    text-align: right;
    font-size: 13px;
   
}
.legals{
    font-size: 10px;
}


/* media adjustments for basic shell*/
@media (max-width: 575.98px) { 

    .legals{
        text-align: center;
    }

    .circle{
        float:none;
       display:inline-block;

        margin-left: 0;
        margin-right: 5px;;
     }

     .copyright{
         display:none;
     }
     .privacy{
         display:none;
     }

     .contact{
         display:none;
     }

     .social{
         text-align: center;
        padding-bottom: 10px;
      }
      .privacy{
          text-align: center;
      }
      .top-logo{

        width:180px;
      }

      .nav-options li{
          font-size: 1.5em;

      }

}

/* about section  */
.pic-outer{
    padding: 50px;
}

.pic-inner{
    background-color: #005E76;
    height: 500px;
    width:600px;
    padding-top:100px;
    padding-left:50px;
}
.inner-img{
    border:solid 5px #54A6BB;
    height:300px;
    width:600px;
}
/* secon d inner shape pushed ot right*/
.pic-inner2{
    background-color: #005E76;
    height: 600px;
    width:400px;
    position: relative;
    float:right;
 
}
/*pushs second pic to right*/
.pic-outer2{
    margin-left:100px;
    margin-top: 0;
    padding-top: 0;
    max-height:600px;/* added to stop div growing and pushing content down*/
}

/*absoloute position to push to middle*/
.inner-img2{
    
    border:solid 5px #54A6BB;
    height:300px;
    width:500px;
    position: relative;
    top:-450px;
    z-index:9999;
}

/* corrects the alignment*/
.about-text2{
  margin-top: 100px;

  font-size: 1.8em;
    padding:50px;
}

.pic-inner3{
    background-color: #005E76;
    height: 300px;
    width:600px;
    padding-top:40px;
    padding-left:50px;
}


/* text for all about boxes*/
.about-text{
    font-size: 1.8em;
    padding:50px;


}

/*...............page template..............*/

.page-main-image{
    height:600px;
}

.blue-content-box{
    height:1000px;
    float:right;
    width:700px;
    background-color:rgba(17, 87, 104,0.8) ;
    margin-right:20px;
    position: absolute;
    top:340px;
    right:20px;
    text-align: right;
   
    margin-top:20px;
   padding-right: 50px;
   padding-top:50px;
    

}

.blue-content-box p{
    font-size: 1.2em;
}

.title{
    position: absolute;
    top:20%;
    right:4%;
    color:rgb(220, 220, 220);

}

h1{font-size: 4em;}



/*................animations..............*/
/* fadeout animation*/
  @-webkit-keyframes fadeout {
    from { opacity: 1; }
    to{ opacity: 0; }
}

@-moz-keyframes fadeout {
    from { opacity: 1; }
    to{ opacity: 0; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to{ opacity: 0; }
}

/* fadein animation*/
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to{ opacity: 1; }
}

@-moz-keyframes fadein{
    from { opacity: 0; }
    to{ opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to{ opacity: 1; }
}


/* grow animation*/
.scale-up-center {
	-webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-21 19:11:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }