@font-face {
    font-family: "Avenir";
    src: 
         url("../fonts/Avenir-Black.woff") format("woff");
  }

  @font-face {
    font-family: "Avenir-book";
    src: 
         url("../fonts/Avenir-book.woff") format("woff");
  }

/* loader*/

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;

  border-radius: 50%;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader img{
  display:block;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

  /* generral styles*/

/* custom cursor added to body*/
  body{
      background-color: black;
      color:white;
      cursor: url(../images/bspoke-cursor.png), auto;
      cursor: url(../images/bspoke-cursor.png) 15 15, move;
      font-family: Avenir-book, Helvetica, sans-serif;
  }


  h1{
      font-family: Avenir, Helvetica, sans-serif;
  }

  .blue-text{
      color:#005E76;
      line-height: 1!important;
  }


 li span{
      display:block;
  }
  /* hamburger nav button*/
  .hamburger ,.hamburger1{
      color:white;
      font-size:1.6em;
   
      padding:4px;
      padding-bottom:20px;
      cursor: url(../images/bspoke-cursor.png), auto;
      cursor: url(../images/bspoke-cursor.png) 15 15, move;
   
  }




  .hamburger1{
      padding-top:10px!important;
      margin-left:20px;
      
   
  }

.ham {
    color:white;
    font-size:1.6em;
    margin-left:20px;
    padding:4px;
    padding-bottom:20px;
    cursor: url(../images/bspoke-cursor.png), auto;
    cursor: url(../images/bspoke-cursor.png) 15 15, move;
  }

  .hamburger:hover{
      color:#54A6BB;
  }

  .about-title{
    color:white;
    text-transform: uppercase;
    font-family: Avenir, Helvetica, sans-serif!important;
    font-size:1.3em
  }

  /*.........nav menu*.........*/
/* positions hamburger at top left of page*/
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    
}
/* logo top right of all*/
  .top-logo{
      float:right;
      padding:5px;
      width:250px;
      position:fixed;
      right:20px;

  }

  .offcanvas{
background-color: #005E76!important;
font-family: Avenir, Helvetica, sans-serif!important;
width:600px!important;

  }

  .nav-options{
    list-style-type: none;
  
  }

  .nav-options li{
      text-transform: uppercase;
      line-height: 30px;
      font-size:2.2em
  }

  .nav-options li a{
    color:white;
  }

  .blue{
      color:#54A6BB!important;
  }

  .btn-close{
      color:white'
  }

  /* intial logo div fades out after zoom animation*/
  .intro{
    
     background-color: black;
 
     justify-content: center;
     align-items: center;


    
     
     left: 0;
     height: 110vh;
 
  
   
 }

 .display{
  display: block!important;
 }

/* transition of main content to give intial logo load time*/
 .main{
 
    -webkit-animation: fadein 6s ease-in alternate forwards ;
    -moz-animation: fadeoin 6s ease-in alternate forwards ;
    animation: fadein 6s ease-in alternate forwards; 
   

 }

  /* logo that zooms up on index load*/
 .intial-logo{
 
   margin: auto;
 
   width: 100%;


    
 }

 /**.............slider................*/
 .slider-image{
   height:75vh;
   padding-bottom:25vh;
 }

 .top-left {
  position: absolute;
  top: 200px;
  right: 35px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 2px;
  

  font-size: 2.3em;
  font-family: Avenir, Helvetica, sans-serif!important;

}
.carousel{
  height:900px;
  padding-bottom:250px;
  padding-top:50px;
}

.video-adj{
  height:600px; 
  width:100%;
}

.slider-image{
  height:800px!important;

}



/* main content block*/
.test{
  height:400px;
  background-color: black;
  height:100vh;
  top:0;
  margin-top: -100px;
  
  display: none;
  }
/*...........footer...............*/
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 50px;
    color: white;
 
  }
.contact h5{
    font-size: 20px;
    font-family: Avenir, Helvetica, sans-serif;
}
  .contact {
    text-align: right;
    margin-right: 11px;
}

.contact-text{
    font-size: 12px;
    font-family: Avenir, Helvetica, sans-serif!important;
}

.contact-text span{
    color:#005E76;
    font-weight: bold;
}

.copyright{
    font-size: 10px;
}
.contact-text a{
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.form-submit{
    background-color:#54A6BB; 
    color:white;
}

.offcanvas-top{
    height:600px;
    cursor: pointer;
}

.footer-margin{
    margin-left:20px!important;
    margin-right: 20px;
}

.social{
   text-align: right;
}
/* circle for social icons*/
.circle{
    height:35px;
    width:35px;
    border-radius: 50%;
    border:1px solid white;
    text-align: center;
    padding-top:5px;
    float:right;
    margin-left: 20px;

}

.privacy{
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Avenir, Helvetica, sans-serif!important;
   
}
.legals{
    font-size: 10px;
}
.content-link-mobile{
  display: none;
}

@media (min-width: 2500px) {

  body{
    margin-left: 10%;
    margin-right: 10%;
  }

  .nav{
    margin-left: 10%;
    width:80%;
  }

  .footer{
    margin-left: 10%;
    width:80%;


  }
  .top-logo{
    right:10%;
  }

  .carousel{
    height:1400px;
   margin-bottom: 20%;
  
  }
  
  .video-adj{
    height:1800px; 
  
  }
  
  .slider-image{
    height:1800px!important;
  
  }
  .blue-content-box{
    right:10%!important;
  }

  .title{
    right:10%!important;
  }
  

}

/* media adjustments for large*/
@media (min-width: 992px) { 
    .intro{
        padding-top: 0px!important;
    }

 }

/* media adjustments for basic shell mdeium*/
@media (max-width: 768px) {

    .intro{
        padding-top: 250px;
        display:block;
    }
    .carousel{
      height:1100px;
      padding-bottom:200px;
      padding-top:50px;
    }
    
    .video-adj{
      height:1000px; 
      width:100%;
    }
    
    .slider-image{
      height:1000px!important;
    }
    .top-left {
      right:20px;
    }
    .yatchs-text{
      margin-top:150px;
    }
    .asset-text{
      margin-bottom: 150px;
    }
    .commercial-text{
      margin-top: 80px;
      margin-bottom: 50px;
    }


 
  }


 /*  */

/* media adjustments for basic shell*/
@media (max-width: 575.98px) { 
  .carousel{
    height:700px;
   
    padding-top:50px;
  }
  
  .video-adj{
    height:700px; 
    width:100%;
  }

  .slider-image{
    height:700px!important;
  }

  .top-left {
    right:25px;
    font-size: 1.5em;
  }

  .ham{
    margin-top: 40px;
  }
.offcanvas-header{
  height:70px;
}


    .intro{
    display:block;
        padding-top: 150px;
    }

    .legals{
        text-align: center;
    }

    .circle{
        float:none;
       display:inline-block;

        margin-left: 0;
        margin-right: 5px;;
     }

     .copyright{
         display:none;
     }
     .privacy{
         display:none;
     }

     .contact{
         display:none;
     }

     .social{
         text-align: center;
        padding-bottom: 10px;
      }
      .privacy{
          text-align: center;
      }
      .top-logo{

        width:180px;
      }

      .nav-options li{
          font-size: 1.5em;

      }
      .content-link-mobile{
          text-align: center;
          display: block;
      }
      .content-link-mobile a{
          color:white;
          text-decoration: none;
      }
      .offcanvas-top{
          height:650px;
      }

}

/* ..........about section ......... */
/*hides the mobile content block*/
.about-mobile{
    display:none;
}
.about{
    padding-top: 50px;
    padding-bottom:400px;

}
.pic-outer{
    padding-left: 30px;
}

.pic-inner{
    background-color: #005E76;
    height: 420px;
    width:650px;
    padding-top:60px;
    padding-left:60px;
}
.inner-img{
    border:solid 5px #54A6BB;
    height:300px;
    width:650px;
}
/* secon d inner shape pushed ot right*/
.pic-inner2{
    background-color: rgb(52, 133, 154);
    height: 650px;
    width:420px;
    /* position: relative; */
    float:right;
    margin-right: 30px;
 
}
/*pushs second pic to right*/
.pic-outer2{
    /* margin-left:100px; */
    margin-top: 0;
    padding-top: 0;
    max-height:650px;/* added to stop div growing and pushing content down*/
}

/*absoloute position to push to middle*/
.inner-img2{
    
    border:solid 5px #54A6BB;
    height:300px;
    width:590px;
    margin-right:100px;
    margin-left:-200px;
  
    
    z-index:9999;
}

/* corrects the alignment*/
.about-text2{
  margin-top: 100px;
  margin-top: 180px;
  font-size: 1.8em;
    padding-left:40px;
    font-family: Avenir-book, Helvetica, sans-serif;
    /* margin-left: 10px!important; */
   
}

.pic-inner3{
    background-color: rgb(127, 174, 183);
    height: 350px;
    width:600px;
    padding-top:100px;
    padding-left:50px;
}


/* text for all about boxes*/
.about-text{
    font-size: 1.8em;
    padding:50px;
    font-family: Avenir-book, Helvetica, sans-serif;



}



/*.......media adjustments about....*/

@media (max-width: 575.98px) { 

    .about{
        display:none;
    }

    .footer{
        padding-bottom:50px;
    }

    .about-mobile{
        display: block;
        padding-top:50px;
        padding-bottom:200px;
    
    }

}

.mobile-outer {
    padding:5px;
    width:97vw;
    background-color: #005E76;
    height: 200px;
    margin-top:50px;
    margin-left: 2px;
    

}

.inner-img-mobile{
    padding:2px;
    width:95vw;
    height: 190px;
    border:1px solid #54A6BB;
}


.mobile-about-heading{
    display:flexbox;
    text-transform: uppercase;
}

@media (min-width: 800px) and (max-width: 1400px) { 
  
  .about-text{
    font-size: 30px;
    margin-top:-30px;
  
   }

   .about-text2{
   
    font-size: 30px;
   margin-top: 120px;
   margin-bottom: 30px;
  }
  .pic-inner3{
    margin-top: 80px;
  }

  .yatchs-text{
    margin-top: 30px;
  }


 }

 @media (min-width: 1000px) and (max-width: 1400px) { 

  .about-text p{
    font-size: 20px;

  
   }
   .about-text2 p{
    font-size: 20px;
    margin-right:10px;
  
   }
   .pic-inner{
  
    height: 210px;
    width:325px;
    padding-top:30px;
    padding-left:30px;
}
.inner-img{
    border:solid 5px #54A6BB;
    height:150px;
    width:325px;
}

.pic-inner2{

  height: 325px;
  width:210px;
  /* position: relative; */
  float:right;
  margin-right: 15px;

}

.inner-img2{

  height:150px;
  width:295px;
  margin-right:50px;
  margin-left:-100px;

  
  z-index:9999;
}

.pic-inner3{
 
  height: 175px;
  width:300px;
  padding-top:50px;
  padding-left:25px;
}





  }

/*...............page template..............*/

.page-main-image{
    height:600px;
}

.blue-content-box{
    height:900px;
    float:right;
    width:700px;
    background-color:rgba(17, 87, 104,0.8) ;
    margin-right:12px;
    position: absolute;
    top:340px;
    right:20px;
    text-align: right;
   font-family: Avenir-book, Helvetica, sans-serif;
   font-size: 12px;
   text-align: right;
   
    margin-top:20px;
   padding-right: 50px;
   padding-left: 20px;
   padding-top:40px;

    

}

.blue-content-box p{
    font-size: 1.2em;

}

.footer-page{
 
  
    bottom:0!important;
    position: initial;
    margin-bottom: 50px;
   
   

}

.title{
    position: absolute;
    top:260px;
    right:35px;
    color:white;
    text-transform: uppercase;

}

h1{font-size: 4em;}

.test1{
    height:1500px;/*allow room for footer*/
}

@media (max-width: 575.98px) {

    .blue-content-box{
        width: 300px;
        padding-right: 5px!important;
    margin-right: 0;
    }
    .blue-content-box p{
        font-size: 1em;
       
 }
}
/*................animations..............*/

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 1.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 1.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-25 21:22:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-8-24 20:43:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

.flip-in-hor-top {
	-webkit-animation: flip-in-hor-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-24 19:32:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-top
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  
.slide-in-right {
	-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-8-24 19:27:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

.scale-in-top {
	-webkit-animation: scale-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-23 22:19:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  
.puff-in-hor {
	-webkit-animation: puff-in-hor 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-hor 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-23 20:41:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-hor
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-hor {
    0% {
      -webkit-transform: scaleX(2);
              transform: scaleX(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-hor {
    0% {
      -webkit-transform: scaleX(2);
              transform: scaleX(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
.heartbeat {
	-webkit-animation: heartbeat 0.5s ease-in-out NaNs infinite both;
	        animation: heartbeat 0.5s ease-in-out NaNs infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-8-23 16:37:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  
/* fadeout animation*/
  @-webkit-keyframes fadeout {
    from { opacity: 1; }
    to{ opacity: 0; }
}

@-moz-keyframes fadeout {
    from { opacity: 1; }
    to{ opacity: 0; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to{ opacity: 0; }
}

/* fadein animation*/
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to{ opacity: 1; }
}

@-moz-keyframes fadein{
    from { opacity: 0; }
    to{ opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to{ opacity: 1; }
}


/* grow animation*/
.scale-up-center {
	-webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
         
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-21 19:11:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
 